:root {
    --main-bg-color: #212529;
    --main-border-color: #FF00E4;

}

body {
    font-family: 'Courier New';
    margin: 0;
}
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: var(--main-bg-color);
    color: #FF00E4;
    margin-bottom: 25px;
    height: 250 px;
}
.container {
    display: flex;
}

.sub-container {
    display: block;
    margin: 5px;
    padding: 15 px;
    background: var(--main-bg-color);
    color: #FF00E4;
    width: 25%;
    border: var(--main-border-color) 5px solid;
    text-align: center;
}